
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
    .tex-area p {
        padding: 0 130px;
    }
}
   
   
/* Large devices (laptops/desktops, 1080px and up) */
@media only screen and (max-width: 1080px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .tex-area h1 {
        font-size: 173px;
        margin: 0px auto 0 auto;
    }
    .tex-area p {
        margin-top: 3px;
    }
    .header {
        height: 604px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
   

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
   

}
































